<html data-theme='dark'>
    <head>
        <title>{{title}}</title>
        <link rel='icon' type='image/x-icon' href='/favicon.ico' />
        <link rel='stylesheet' href='/fontawesome/css/all.min.css' />
        <link rel='stylesheet' href='/css/pico.min.css' />
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='preconnect' href='https://fonts.googleapis.com' />
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
        <link
            href='https://fonts.googleapis.com/css2?family=Squada+One&display=swap'
            rel='stylesheet'
        />
        <meta
            name='viewport'
            content='width=device-width, initial-scale=1.0, viewport-fit=cover'
        />
    </head>
    <body>
        <header>
            <p id='icon' class='logo'> {{{websiteName}}} </p>
        </header>
        <main class='container'>
            {{{body}}}
        </main>
    </body>
</html>