<label for="brightness">Brightness
  <input type="range" min="0" max="100" value="50" id="brightness" name="brightness">
</label>

<button id="power" onclick='turnOn()'>
  <i class='fa fa-power-off' style='font-size: 3rem'></i>
</button>

<script src='/js/script.js'></script>